config USR_DRV_USB
  bool  "userspace USB driver library"
  default y
  ---help---
  Support for STM32 USB.
config USR_DRV_USB_CFLAGS
  string
  default " -I../../drivers/socs/stm32f439/usb/api " if USR_DRV_USB

if USR_DRV_USB

menu "USB-related features"

choice
   prompt "USB device block support"
   default USR_DRV_USB_FS
   config USR_DRV_USB_FS
      bool "USB Full-Speed driver support"
   config USR_DRV_USB_HS
      bool "USB High-Speed driver support"
endchoice

config USB_DFU
  bool "USB DFU Support"
  select FIRMWARE
  default y
  help
    Support for Device Firmware Upload protocol over usb

config USB_DEV_PRODNAME
  string "USB device product name"
  default "wookey"

config USB_DEV_PRODNAME_INDEX
  int "USB device product name index"
  default 1

config USB_DEV_MANUFACTURER
  string "USB Manufacturer name"
  default "ANSSI"

config USB_DEV_MANUFACTURER_INDEX
  int "USB device manufacturer index"
  default 2

config USB_DEV_SERIAL
  string "USB Serial value"
  default "123456789012345678901234"

config USB_DEV_SERIAL_INDEX
  int "USB device serial index"
  default 3

config USB_DEV_VENDORID
  hex "USB Vendor Identifier"
  default 0xDEAD

config USB_DEV_PRODUCTID
  hex "USB Product Identifier"
  default 0xCAFE

choice
   prompt "SCSI block size"
   default USB_DEV_SCSI_BLOCK_SIZE_4096
   ---help---
      Set the SCSI block size reported to the host. The standard
      size is 512 bytes. However, for performance reasons, 4K blocks
      are a better choice if the OS supports it (modern Operating Systems
      should do so). If you might use your USB thumb drive on old systems,
      choose the more conservative 512 bytes block size. 
      WARNING: >= 8K blocks might not be well supported by hosts, choose at your
      own risks!
   config USB_DEV_SCSI_BLOCK_SIZE_512
      bool "SCSI blocks of 512 bytes"
   config USB_DEV_SCSI_BLOCK_SIZE_1024
      bool "SCSI blocks of 1024 bytes"
   config USB_DEV_SCSI_BLOCK_SIZE_2048
      bool "SCSI blocks of 2048 bytes"
   config USB_DEV_SCSI_BLOCK_SIZE_4096
      bool "SCSI blocks of 4096 bytes"
   config USB_DEV_SCSI_BLOCK_SIZE_8192
      bool "SCSI blocks of 8192 bytes"
endchoice

endmenu

endif

